<div class="row">
	<div class="col w10">&nbsp;</div>
	<div class="col w40">
		<h2>Home</h2>
		<p>API-KEY application</p>
	</div>
	<div class="col w10">&nbsp;</div>
	<div class="col w30">
		<% if signed_in? %>
			<p>Signed in as <%= current_api_user.first_name + ' ' + current_api_user.last_name %></p>
			<p><%= link_to 'Go to profile', api_user_path(current_api_user) %> to manage API-key</p>
		<% else %>
			<%= render 'shared/sign_in_form' %>
		<% end %>
	</div>
</div>