<h2>Profile</h2>
<p><%= @user.first_name %> <%= @user.last_name %></p>
<p>API KEY:
  <% if !@user.api_key.nil %>
	  <%= @user.api_key.key %>
  <% else %>
	  <%= link_to('Generate API-key') %>
  <%end%>
</p>